@font-face {
    font-family: "HelveticaNeueCyr-Roman", sans-serif;
    src: url("../fonts/HelveticaNeueCyr-Roman.woff2") format("woff2"), /* Modern Browsers */
      url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff"); /* Modern Browsers */
    font-weight: 400;
    font-style: normal;
  }

@font-face {
    font-family: "HelveticaNeueCyr-Bold", sans-serif;
    src: url("./fonts/HelveticaNeueCyr-Bold.woff2") format("woff2"), /* Modern Browsers */
      url("./fonts/HelveticaNeueCyr-Bold.woff") format("woff"); /* Modern Browsers */
    font-weight: 700;
    font-style: normal;
  }

  