@import "vars";
@import "global";
@import "fonts";




.header{
    
    &__inner{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 140px;
    }
}
.menu{
    &__list{
    }
    &__item{
        display: inline-block;
        font-size: 16px;
        & + &{
            margin-left: 46px;
        }
    }
}
.language{
    
    &__title{
        font-size: 14px;
        padding-bottom: 8px;
    }
    &__box{
       display: flex;
       align-items: center;
       a + a{
        margin-left: 10px;
        }
    }
    &__link{
        position: relative;
        &--active::before{
            content: "";
            position: absolute;
            background-color: $red;
            width: 50px;
            height: 2px;
            left: 0;
            bottom: -12px;
        }
    }
    &__text{
        width: 63px;
        font-size: 14px;
    }
    
}
// end header 
// start top 
.top{
    min-height: 776px;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    &__title{
        text-transform: uppercase;
        font-family: "HelveticaNeueCyr-Bold", sans-serif;
        margin-left: auto;
        padding-top: 212px ;
        font-weight: 700;
        color: #fff;
        font-size: 46px;
        line-height: 60px;
        max-width: 720px;
        margin-bottom: 139px;
    }
    &__box{
        display: flex;
        justify-content: space-between;
    }
    &__btn{
        width: 264px;
        height: 68px;
        background-color: $red;
        font-size: 16px;
        font-family: "HelveticaNeueCyr-Bold", sans-serif;
        color: #fff;
        padding: 28px 0 24px;
        text-align: center;
        font-weight: 700;
    }
}
// end top 
// start info 
.info{
    background-color: #efefef;
    &__title{
        padding-top: 127px;
        margin-bottom: 115px;
        
    }
    &__inner{
        display: flex;
        margin-bottom: 170px;
    }
    &__text{
        max-width: 445px;
        margin-right: 60px;
        line-height: 26px;
        p{
            // margin-top: 0;
            margin-bottom: 45px;
        }
        p + p{
            max-width: 366px;
        }
    }
    &__advantages{
        
    }
    &__advantages-title{
        font-weight: 700;
        line-height: 26px;
        margin-bottom: 26px;
    }
    &__advantages-list{
        li{
            margin-bottom: 10px;
            padding-left: 44px;
            line-height: 26px;
            position: relative;
            &::before{
                content: '';
                position: absolute;
                background-image: url('../images/icon/checked.png');
                width: 17px;
                height: 17px;
                left: 0;
                top: 3px;
            }
        }
    }
}

// end info 
// start advantages 
.advantages{
    background-color: #f9f9f9;
    &__title{
        padding-top: 86px;
        margin-bottom: 47px;
    }
    &__inner{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 150px;
    }
    &__item{
        width: 261px;
        height: 243px;
        background-color: #fff;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 36px;
        img{
            max-width: 63px;
            max-height: 64px;
            
        }
    }
    &__item-img{
        height: 70px;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }
    &__item-descr{
        font-weight: 700;
        width: 184px;
        height: 61px;
        &--little{
            width: 80px;
        }
    }
}
// end advantages

// start products 
.products{
    &__title{
        padding-top: 120px;
        margin-bottom: 70px;
    }
    &__top{
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
        margin-bottom: 40px;
    }
    &__item{
        width: 270px;
        height: 292px;
        text-align: center;
        border: solid 1px $red;
        position: relative;
        ::before{
            content: '';
            position: absolute;
            width: 295px;
            height: 309px;
            border: solid 1px #d4dbdf;
            top: -10px;
            left: -12px;
        }
    }
    &__item-img{
        height: 167px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin:  30px 0;
    }
    &__item-title{
        max-width: 150px;
        display: inline-block;
        font-family: "HelveticaNeueCyr-Bold", sans-serif;
        font-weight: 700;
    }
    &__cards{
        display: flex;
        justify-content: space-between
    }
    &__card{
        width: 197px;
        height: 372px;
        text-align: center;
        border: solid 1px #d4dbdf;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 100px;
    }
    &__card-img{
        height: 163px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 37px 0;
        img{
            max-width: 100%;
            max-height: 100%;
        }
    }
    &__card-title{
        font-size: 14px;
        width: 138px;
        text-align: center;
        display: inline-block;
        margin: 0 auto;
        margin-bottom: 17px;
        height: 50px;
    }
    &__card-btn{
        padding: 16px 38px;
        background-color: $red;
        color: #fff;
        font-size: 14px;
        font-weight: 700;
        margin-bottom: auto;
    }
}
.products__card-btn-box{
    margin-bottom: 20px;
}
// end products 
// start delivery 
.delivery{
    background-color: $red;
    &__title{
        color: #fff;
        padding-top: 105px;
        margin-bottom: 60px;
    }
    &__inner{
        display: flex;
        justify-content: space-between;
        margin-bottom: 140px;
    }
    &__item{
        background-color: #fff;
        width: 358px;
        
    }
    &__item-img{
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 56px 0 15px;
        img{
            max-width: 100%;
            max-height: 100%;
        }
    }
    &__item-title{
        font-family: "HelveticaNeueCyr-Bold", sans-serif;
        font-weight: 700;
        position: relative;
        padding-bottom: 33px;
        text-align: center;
        margin-bottom: 40px;
        &::before{
            content: '';
            position: absolute;
            width: 251px;
            height: 1px;
            background-color: #d4dbdf;
            bottom: 0px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__item-list{
        line-height: 36px;
        margin: 0 auto;
        margin-bottom: 57px;
        margin-left: 84px;
        li{
            padding-left: 40px;
            position: relative;
            &::before{
                content: '';
                position: absolute;
                background-image: url('../images/icon/checked.png');
                width: 17px;
                height: 17px;
                left: 0;
                top: 9px;
            }
        }
    }
}
// end delivery
// start documents 
.documents{
    margin-bottom: 125px;
    &__title{
        padding-top: 110px;
        margin-bottom: 74px;
    }
    &__slider{
        margin: 0 166px 40px;
        position: relative;
    }
    &__slider-item{
        max-width: 230px;
        text-align: center;
        min-height: 480px;
        
    }
    &__slider-img{
        width: 230px;
        height: 323px;
        position: relative;
        margin-bottom: 40px;
        padding: 16px;
        &::before{
            content: '';
            position: absolute;
            width: 261px;
            height: 355px;
            border: solid 1px #d4dbdf;
            top: 0;
            left: 0;
        }
    }
    &__slider-title{
        font-family: "HelveticaNeueCyr-Bold", sans-serif;
        font-weight: 700;
        height: 83px;
        width: 100%;
        text-align: center;
        margin-left: 10px;
    }
    &__slider-title{
        
    }
    &__slider-dowm{
        font-size: 16px;
        color: $red;
        text-decoration: underline;
        
    }
    &__subtitle{
        background-color: #f6f8f9;
        text-align: center;
        padding: 55px 0 50px;
        font-size: 16px;
        font-family: "HelveticaNeueCyr-Bold", sans-serif;
        font-weight: 700;
    }
}
.slider-btn{
    font-size: 0;
    background-color: $red;
    width: 53px;
    height: 53px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    cursor: pointer;
}
.slick-prev{
    left: -100px;
    &::before{
        content: '';
        position: absolute;
        background-image: url('../images/icon/left-arrow_.png');
        width: 10px;
        height: 20px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.slick-next{
    right: -100px;
    &::before{
        content: '';
        position: absolute;
        background-image: url('../images/icon/right-arrow.png');
        width: 10px;
        height: 20px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
// end documents
// start contacts 
.contacts{
    margin-bottom: 60px;
    &__title{
        margin-bottom: 100px;

    }
    &__item{
        width: 360px;
        border: solid 1px #d4dbdf;
        margin: 0 15px;
    }
    &__inner{
        display: flex;
        justify-content: center;
    }
    &__item-title{
        background-color: $red;
        color: #fff;
        font-family: "HelveticaNeueCyr-Bold", sans-serif;
        font-weight: 700;
        text-align: center;
        padding-top: 37px;
        padding-bottom: 32px;
        margin-bottom: 44px;
    }
    &__item-list{
        margin-left: 71px;
    }
    &__item-link{
        padding-left: 48px;
        font-size: 16px;
        color: $red;
        margin-bottom: 25px;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 28px;
            height: 28px;
            background-position: center center;
            background-repeat: no-repeat;
        }
        a{
            text-decoration: underline;
        }
        &.contacts__item-link--phone{
            color: $text;
            &::before{
                content: '';
                background-image: url('../images/icon/phone.png');
                width: 20px;
                height: 20px;
                left: 4px;
            }
            a{
                text-decoration: none;
                font-size: 18px;
            }
        }
        &.contacts__item-link--mail{
            &::before{
                content: '';
                background-image: url('../images/icon/email.png');
                width: 23px;
                height: 16px;
                left: 3px;
            }
        }
        &.contacts__item-link--social-vb{
            &::before{
                content: '';
                background-image: url('../images/icon/viber.png');
            }
        }
        &.contacts__item-link--social-wa{
            &::before{
                content: '';
                background-image: url('../images/icon/whatsapp.png');
            }
        }
        &.contacts__item-link--social-tg{
            &::before{
                content: '';
                background-image: url('../images/icon/telegram.png');
            }
        }
        &.contacts__item-link--pc{
            &::before{
                content: '';
                background-image: url('../images/icon/pc.png');
                width: 23px;
                height: 19px;
                left: 1px;
            }
        }
        &.contacts__item-link--social-inst{
            &::before{
                content: '';
                background-image: url('../images/icon/instagram.png');
            }
        }
        &.contacts__item-link--social-yt{
            &::before{
                content: '';
                background-image: url('../images/icon/youtube.png');
            }
        }
    }
}
// end contacts 
// start request 
.request{
    background-color: #f9f9f9;
    &__inner{
        padding-top: 70px;
    }
    &__title{
        margin-bottom: 21px;
        text-align: center;
        font-size: 30px;
        font-family: "HelveticaNeueCyr-Bold", sans-serif;
        font-weight: 700;
    }
    &__subtitle{
        font-size: 24px;
        max-width: 700px;
        text-align: center;
        margin: 0 auto 67px;
    }
    &__form{
      display: block;
      max-width: 720px;
      margin: 0 auto;
    }
    &__form-btn{
        background-color: $red;
        text-align: center;
        border: none;
        color: #fff;
        padding: 28px 60px 24px;
        margin: 0 auto 120px;
        display: block;
    }
}
.form__group{
    max-width: 340px;
    display: inline-block;
    label{
        font-size: 14px;
        color: rgba($color: $text, $alpha: 0.5);
        margin-bottom: 13px;   
    }
    input{
        margin: 13px 0 20px;
        width: 100%;
        border: none;
        background-color: #fff;
        height: 74px;
        font-size: 20px;
        padding-left: 52px;
        padding-right: 10px;
        
    }
}
.form__group--upload{
    max-width: 340px;
    display: inline-block;
    label{
        padding-left: 52px;
        font-size: 16px;
        color: $red;
        text-decoration: underline;
        font-weight: 700;
    }
    input{
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }
}
.form__group--textarea{
    display: inline-block;
    margin-bottom: 33px;
    label{
        font-size: 14px;
        color: rgba($color: $text, $alpha: 0.5);   
    }
    textarea{
        margin-top: 13px;
        width: 720px;
        
    }

}
.form__group--input{
    position: relative;
    display: inline-block;
    &::before{
        content: '';
        position: absolute;
        background-image: url('../images/icon/user.png');
        width: 21px;
        height: 23px;
        top: 45%;
        transform: translateY(-50%);
        left: 20px;
    }
    &.form__group--input-tel{
        &::before{
            background-image: url('../images/icon/phone.png');
            width: 20px;
            height: 20px;
        }
        
    }
    &.form__group--input-email{
        &::before{
            background-image: url('../images/icon/email.png');
            width: 22px;
            height: 15px;
        }
        
    }
    &.form__group--input-textarea{
        textarea{
            padding-left: 52px;
            padding-right: 10px;
            height: 73px;
            border: none;
            padding-top: 25px;
        }
        &::before{
            background-image: url('../images/icon/chat.png');
            width: 20px;
            height: 20px;
        }
        
    }
    &.form__group--input-upload{
        &::before{
            background-image: url('../images/icon/upload.png');
            width: 23px;
            height: 21px;
            top: -10px;
        }
    }
}
// end request 