@import "vars";
@import "global";
@import "fonts";




.header{
    
    &__inner{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 140px;
    }
}
.menu{
    &__list{
    }
    &__item{
        display: inline-block;
        font-size: 16px;
        & + &{
            margin-left: 46px;
        }
    }
}
.language{
    
    &__title{
        font-size: 14px;
    }
    &__box{
       display: flex;
       align-items: center;

       a + a{
        margin-left: 10px;
        }
    }
    &__link{
        position: relative;
        &--active::before{
            content: "";
            position: absolute;
            background-color: $red;
            width: 50px;
            height: 2px;
            left: 0;
            bottom: -12px;
        }
    }
    &__text{
        width: 63px;
        font-size: 14px;
    }
    
}
// end header 
// start top 
.top{
    min-height: 776px;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    &__title{
        text-transform: uppercase;
        font-family: "HelveticaNeueCyr-Bold", sans-serif;
        margin-left: auto;
        padding-top: 212px ;
        font-weight: 700;
        color: #fff;
        font-size: 46px;
        line-height: 60px;
        max-width: 720px;
        margin-bottom: 139px;
    }
    &__box{
        display: flex;
        justify-content: space-between;
    }
    &__btn{
        width: 264px;
        height: 68px;
        background-color: $red;
        font-size: 16px;
        font-family: "HelveticaNeueCyr-Bold", sans-serif;
        color: #fff;
        padding: 28px 0 24px;
        text-align: center;
        font-weight: 700;
    }
}
// end top 